{% extends 'base.html' %}
{% block body %}

<div class="container-fluid edit">
<div class="row">
<div class="col-md-6 offset-md-3">
<form id="edit" method="post" enctype="multipart/form-data">
    <h1>Update</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <button type="submit" class="btn btn-success " >Update</button>
<!--    <input type="submit">-->
</form>
</div>
</div>
</div>










<!--<form method="post" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <br>-->
<!--    <input type="submit">-->
<!--</form>-->
{% endblock %}